@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    background-color: rgba(189, 183, 107, .7);
}

main {
    padding-top: 4.2rem;
}

#kanbanBoard {
    height: calc(100% - 2rem);
}

.cursor-pointer {
    cursor: pointer;
}
.cursor-not-allowed {
    cursor: not-allowed;
}

.drop-space {
    padding-top: 10em;
}