@import '~bootstrap/scss/bootstrap';

body {
    background-color: rgba(189, 183, 107, .7);
}

main {
    padding-top: 4.2rem;
}

#kanbanBoard {
    height: calc(100% - 2rem);
}

.cursor-pointer {
    cursor: pointer;
}